<%= form_for([@post, @post.comments.build]) do |f| %>
    
    <p>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </p>

    <div>
        <%= f.submit %>
    </div>

<% end %>