<%= form_with url: post_comments_url(post), method: :post do |form| %>
     
    <div>
        <%= form.text_area :content,class:"form-control" %>
    </div>

    <div>
        <%= form.submit "Comment"%>
    </div>

<% end %>