<% if @user == current_user%>

<a href='http://localhost:3000/users/edit' class="btn btn-primary ml-3"></i>Edit Profile</a>
<a href="http://localhost:3000/users/privacy/<%=current_user.id%>" class="btn btn-primary ml-3"></i>Edit Privacy</a>
<br>
<h1>  Your Profile </h1>
<%end%>
<%= render @user %>


