<h1>  You can view your own data only</h1>

<%if @user.profile_picture.representable?%>
      <%= image_tag @user.profile_picture , size: "200x200" %>
<%end%> 
<h1>Name : <%= @user.user_name %></h1>
<h5>Phone Number : <%= @user.phone_number%></h5>
<h5>Email : <%= @user.email%></h5>