<%if user_signed_in?%>
    <h1>Hello, <%= current_user.user_name %></h1>
<%else%>
    <h1>Hello, Please Sign In</h1>
<%end%>



<a href='http://localhost:3000/users/sign_out' class="btn btn-danger ml-3"></i>Sign Out</a>
<br>
<a href='http://localhost:3000/users/sign_up' class="btn btn-primary ml-3"></i>Sign Up</a>
<br>
<a href='http://localhost:3000/users/sign_in' class="btn btn-primary ml-3"></i>Sign In</a>
<br>

<%if user_signed_in?%>
<a href='http://localhost:3000/users/<%= current_user.id%>' class="btn btn-primary ml-3"></i>Show All Users</a>
<%end%>

<br>